#### 파이썬에서 SQL DB 접속하기

In [ ]:
import pymysql

con = pymysql.connect(
    user='root',       # 1
    passwd='1234',     # 2 
    host='127.0.0.1',  # 3 
    db='shop',         # 4
    charset='utf8'     # 5
)

mycursor = con.cursor()

1. user : 사용자 명
2. paawd: 비밀번호
3. host: 허용 접속 IP(일반적으로 localhost는 127.0.0.1이다.)
4. db: 사용할 데이터베이스
5. charset: 인코딩 방법

- show 데이터베이스 중 goods 테이블 가져오기

In [ ]:
query = """                  # 1
    select * from goods;
"""

mycursor.execute(query)      # 2
data = mycursor.fetchall()   # 3
con.close()                  # 4

display(data)

1. 실행하고자 하는 쿼리를 입력하며, goods 테이블의 모든 데이터를 가져오는 쿼리를 입력한다.
2. execute() 메서드를 사용하여 SQL 쿼리를 데이터베이스 서버에 보낸다.
3. fetchall(), fetchone(), fetchmany() 등의 메서드를 사용하여 서버로부터 데이터를 가져온다.
    - fetchall(): 테이블 안의 모든 데이터를 추출
    - fetchone(): 테이블 안의 데이터를 한 행씩 추출
    - fetchmany(size=n): 테이블 안의 데이터 중 n개의 행을 추출
4. 원하는 작업을 마친 후에는 반드시 close() 메서드를 통해 데이터베이스와의 연결을 종료해야 한다.

- 데이터 입력하기

In [ ]:
con = pymysql.(user='root',
              passwd='1234',
              host='127.0.0.1',
              db='shop',
              charset='utf8')

mycursor = con.cursor()
query = """
    insert into goods (goods_id, goods_name, goods_classify, sell_price, buy_price, register_date)
    values ('0009', '스테이플러', '사무용품', '2000', '1500', '2020-12-30');
"""

mycursor.execute(query)
con.commit()
con.close

삽입, 갱신, 삭제 등의 DML(Data Manipulation Language 문장을 실행하는 경우, commit() 메서드를 사용하여 데이터의 확정 갱신하는 작업을 추가해 준다.

#### pandas를 이용한 데이터 읽기 및 쓰기

In [ ]:
import pandas as pd                    # 1
from sqlalchemy import create_engine

# engine = create_engine('mysql+pymysql://[사용자 명]:[비밀번호]@[호스트:포트]/[사용할 데이터베이스]')
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')
query = """select * from Goods"""
goods = pd.read_sql(query, con=engine) # 2
engine.dispose()                       # 3

goods.head()

1. pandas에서 SQL에 연결할 때는 SQLalchemy ORM을 사용해야 한다. ORM(Object Relational Mapping)이란 응용 프로그램과 데이터베이스를 연결할 때 SQL 언어가 아닌 응용 프로그램 개발 언어로 데이터베이스를 접근할 수 있게 해주는 툴이다. 쉽게 말해 파이썬 코드를 SQL 쿼리로 자동 변환하여, SQL 쿼리를 따로 작성할  필요가 없이 파이썬 코드를 작성하는 것만으로 데이터베이스를 조작할 수 있게 해준다. 
2. 쿼리를 작성 후 read_sql() 함수에 이를 입력한다.
3. engine.dispose()를 통해 연결을 종료한다.

- 데이터프레임을 SQL 데이터베이스에 저장하기

In [ ]:
import seaborn as sns
from sqlalchemy import create_engine

iris = sns.load_dataset('iris') 
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')  # 1
iris.to_sql(name = 'iris', con=engine, index=False, if_exists='replace') # 1
engine.dispose() # 3

1. create_engine() 함수를 통해 데이터베이스에 접속하기 위한 엔진을 만든다.
2. 데이터프레임.to_sql()을 통해 데이터프레임을 데이터베이스에 저장할 수 있다. 테이블 이름은 iris로 하며, con에는 위에서 생성한 엔진을 입력한다. index = False를 통해 인덱스는 생성하지 않으며, if_exists=’replace’를 입력하면 해당 테이블이 존재할 시 데이터를 덮어쓴다.
3. engine.dispose()를 통해 연결을 종료한다.

#### MySQL에서 upsert 기능 구현하기

```sql
use exam;

CREATE TABLE price_2(
	날짜 varchar(10),
    티커 varchar(6),
    종가 int,
    거래량 int,
    PRIMARY KEY(날짜, 티커)  
);
```

 총 4개 열(날짜, 티커, 종가, 거래량)로 구성되어 있으며 날짜와 티커별로 종가와 거래량이 다르므로 날짜와 티커를 기본 키로 지정한다.

- 테이블에 값 넣기

```sql
insert into price_2(날짜, 티커, 종가, 거래량)
values
('2021-01-02', '000001', 1340, 1000),
('2021-01-03', '000001', 1315, 2000),
('2021-01-02', '000002', 500, 200);
```

- upsert 기능을 이용해 데이터 추가하기

```sql
insert into price_2(날짜, 티커, 종가, 거래량)
values
('2021-01-02', '000001', 1340, 1000),
('2021-01-03', '000001', 1315, 2000),
('2021-01-02', '000002', 500, 200),
('2021-01-03', '000002', 1380, 3000)
as new
on duplicate key update
종가 = new.종가, 거래량 = new.거래량;
```

[insert into … values] 부분은 일반적인 데이터를 입력하는 쿼리와 형태가 같으며, 그 후 new라는 별명을 붙여 준 후 [on dupicate key update] 구문을 추가해 준다. 즉 데이터를 입력하되, 키값(날짜, 티커)을 기준으로 이미 데이터 존재할 경우에는 입력이 아닌 업데이틀 해준다.

- 입력과 업데이트 동시에 진행하기

```sql
insert into price_2(날짜, 티커, 종가, 거래량)
values
('2021-01-02', '000001', 1300, 1100),
('2021-01-04', '000001', 1300, 2000)
as new
on duplicate key update
종가 = new.종가, 거래량  new.거`ㄴㅇ래량;
```

#### 파이썬에서 upsert 기능 구현하기

- 데이터베이스에 저장할 데이터를 리스트 형태로 만들기

In [9]:
import pandas as pd
price = pd.DataFrame({
    "날짜": ['2021-01-04', '2021-01-04'],
    "티커": ['000001', '000002'],
    "종가": [1320, 1315],
    "거래량": [2100, 1500]
})

args = price.values.tolist()
args

[['2021-01-04', '000001', 1320, 2100], ['2021-01-04', '000002', 1315, 1500]]

In [13]:
import pymysql

con = pymysql.connect(user='root',
                     passwd='1234',
                     host='127.0.0.1',
                     db='exam',          # 1
                     charset='utf8')

query = """
    insert into price_2 (날짜, 티커, 종가, 거래량)
    values (%s,%s,%s,%s) as new         # 2
    on duplicate key update
    종가 = new.종가, 거래량 = new.거래량;
"""

mycursor = con.cursor()                  # 3
mycursor.executemany(query, args)        # 4
con.commit()                             # 5

con.close()                              # 6

1. exam 데이터베이스에 접속한다.
2. upsert 기능을 구현하는 쿼리를 입력하며, values 부분에는 입력하는 데이터의 열 개수만큼 ‘%s’를 입력한다.
3. cursor() 메서드를 통해 데이터베이스의 커서 객체를 가져온다.
4. execute() 메서드를 사용하여 SQL 쿼리를 데이터베이스 서버에 보낸다. 즉, %s 부분에 리스트로 만든 데이터가 입력되어 데이터베이스 서버에 전송된다.
5. commit() 메서드를 사용하여 데이터의 확정을 갱신한다.
6. 접속을 종료한다.